* {
    margin: 0%;
    padding: 0%;
}

header {
    background-attachment: fixed;
    background-color: blue;
    opacity: 0.8;
}

header div.container div.row div.col-md-8 nav a.nav-link {
    color: aliceblue;
    font-size: 16px;
    padding: 2px 5px;
}

header div.container div.row div.col-md-8 nav a.nav-link i {
    font-size: 25px;
}

header div.container div.row {
    padding: 5px 0px;
    height: 40px;
}

header div.container div.row div.col-md-4 nav a.nav-link {
    color: white;
    font-size: 14px;
    border-right: 1px solid gray;
    padding: 4px 10px;
}

header div.container-fluid hr {
    border: 1px solid;
    margin: 0;
    padding: 0;
}